<div class="sidebar">
    <div class="sidebar-wrapper">
      <div class="logo">
        <img src="img/rpl-logo.png" alt="">
        <a href="javascript:void(0)" class="simple-text logo-normal">
          Project Rpla
        </a>
      </div>
      <ul class="nav">
        <li <%- home %>>
          <a href="/">
            <i class="fa-solid fa-house-user icon"></i>
            <p>Home</p>
          </a>
        </li>
        <li <%- profile %>>
          <a href="/profile">
            <i class="fa-solid fa-image icon"></i>
            <p>Profil</p>
          </a>
        </li>
        <li <%- prestasi %>>
          <a href="/prestasi">
            <i class="fa-solid fa-school icon"></i>
            <p>Prestasi</p>
          </a>
        </li>
        <li <%- mapel %>>
          <a href="/jadwal_mapel">
            <i class="fa-solid fa-calendar-days icon"></i>
            <p>Jadwal Mapel</p>
          </a>
        </li>
        <li <%- piket %> >
          <a href="/jadwal_piket">
            <i class="fa-solid fa-trophy icon"></i>
            <p>Jadwal Piket</p>
          </a>
        </li>
        <li <%- other %> >
          <a href="/other">
            <i class="fa-solid fa-bars-staggered icon"></i>
            <p>Other</p>
          </a>
        </li>
      </ul>
    </div>
</div>